[INVENTORY_DB]
user = "snowflake_user"
password = "sn0wfl@ke_p@ssw0rd!"
account = "EXAMPLE-ACCT12345"
warehouse = "poc_warehouse" 
database = "inventory_db" 
schema = "public"
role = "accountadmin"
 
[TOKEN_OWNERSHIP]
user = "snowflake_user"
password = "sn0wfl@ke_p@ssw0rd!"
account = "EXAMPLE-ACCT12345"
warehouse = "poc_warehouse" 
database = "ownership_db" 
schema = "public"
role = "accountadmin"
 
 
[token_schemas]
user = "snowflake_user"
password = "sn0wfl@ke_p@ssw0rd!"
account = "EXAMPLE-ACCT12345"
warehouse = "poc_warehouse" 
database = "token_schemas" 
schema = "public"
role = "accountadmin"